.loadingContainer {
  /* For browsers that don't support CSS variables */
  min-height: 100vh;
  /* This is the "polyfill" */
  min-height: calc(var(--1dvh, 1vh) * 100);
  /* This is for future browsers that support svh, dvh and lvh viewport units */
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading {
  position: relative;
  color: var(--txt-3);
  font-weight: 600;
}

.loading:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 100px;
  white-space: nowrap;
  color: rgb(53, 53, 53);
  animation: loading 1.5s linear infinite;
}

@keyframes loading {
  0% {
    max-width: 0;
  }
}