.btn {
  border-radius: 6px;
  padding: 2px 5px;
  background: var(--bg-secondary-color);
  border: 1px solid var(--border-primary-color);
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  display: flex;
  font-size: 12px;
}

.btn:hover {
  background: var(--border-secondary-color);
}

.btn:active {
  background: var(--border-primary-color);
}