<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div>
    <form id="form">
      <input type='text' id='id-input' placeholder='Enter Your ID' />
      <input type='submit' id='submit' value='Search Results' />
    </form>

    <div id="student-info"></div>

    <div id="total-cgpa"></div>

    <table id="results"></table>

  </div>

  <script src="/javascripts/script.js"></script>
</body>

</html>