.chartContainer {
    margin-top: 30px;
    padding: 10px;
    box-shadow: 0 7px 25px var(--opacity-8);
    border-radius: 20px;
    border: 1px solid var(--border-primary-color);
}

.chartBox {
    width: 100%;
    height: 400px;
}