.chartContainer {
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 7px 25px rgb(0 0 0 / 8%);
    border-radius: 20px;
    border: 1px solid var(--bg-3);
}

.chartBox {
    width: 100%;
    height: 400px;
}