.tableContainer {
    margin-top: 4.1px;
    background: rgb(248, 248, 248);
    border-radius: 10px;
    font-size: 12px;
    line-height: 18px;
    height: calc(100% - 23px);
    overflow: hidden;
    border: 1px solid transparent;
}


.table {
    width: 100%;
    font-size: 12px;
    color: rgb(56, 56, 56);
    border-collapse: collapse;
    table-layout: fixed;
}

.table tbody tr {
    border-top: 1px solid #e3e3e3;
}

.table tbody tr:hover {
    background-color: #efefef;
}

.table thead tr th {
    text-align: left;
    color: rgb(94, 113, 131);
    font-weight: 600;
}

.table tbody tr {
    height: 40px;
}

.table thead tr {
    height: 50px;
    background: #efefef;
}

.table tr th:first-child,
.table tr td:first-child {
    padding-left: 20px;
    width: 40%;
}

.table tr th:last-child,
.table tr td:last-child {
    padding-right: 20px;
    width: 26%;
}

.detailsBtn {
    background: var(--bg);
    border-radius: 6px;
    padding: 2px 9px;
    border: none;
    box-shadow: 0 1px 2px var(--shadow);
    cursor: pointer;
    width: 76px;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    display: flex;
}

.detailsBtn:hover {
    background: var(--bg-2);
}

.table .infoImg {
    width: 13px;
    height: 13px;
    color: var(--txt-3);
    cursor: pointer;
    display: inline-block;
}