.infoContainer {
  margin-top: 25px;
  border: 1px solid var(--border-primary-color);
  background-color: var(--bg-secondary-color);
  border-radius: 10px;
  padding: 15px 20px;
}

.infoItem {
  display: flex;
  font-size: 12px;
  margin-bottom: 10px;
}

.infoItemTitle {
  width: 35%;
  font-weight: 500;
  line-height: 18px;
  color: var(--text-secondary-color);
  flex-grow: 0;
  flex-shrink: 0;
}

.infoItemContent {
  font-weight: 500;
  color: var(--text-primary-color);
}
