.infoContainer {
    margin-top: 25px;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 10px;
    padding: 15px 20px;
}

.infoItem {
    display: flex;
    font-size: 12px;
    margin-bottom: 10px;
}

.infoItemTitle {
    width: 35%;
    font-weight: 500;
    line-height: 18px;
    color: rgb(111, 111, 111);
    flex-grow: 0;
    flex-shrink: 0;
}

.infoItemContent {
    font-weight: 500;
    color: rgb(53, 53, 53);
}