.cgpaContainer {
  margin-top: 20px;
  background: var(--bg-secondary-color);
  border: 1px solid var(--border-primary-color);
  border-radius: 10px;
  padding: 15px 20px;
}

.creditItem {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
}

.creditItemTitle {
  color: var(--text-secondary-color);
  width: 50%;
}

.creditItemContent {
  color: var(--text-primary-color);
}

.cgpaItem {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.cgpaItemTitle {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: var(--text-secondary-color);
  width: 50%;
}

.cgpaItemContent {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: var(--text-primary-color);
}
